.pokemonName{
    user-select: text;
        -moz-user-select: text;
        -khtml-user-select: text;
        -webkit-user-select: text;
        -o-user-select: text;
}
.container{
    text-align: center;
}