.detailBox{
    border: 4px solid #cc5656;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    width: 60%;

}

.element{
    border: 1px solid #000000;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    width: 80px;
    border: 2px solid #a4a4a4;
    line-height: 28px;
    max-width: 110px;
    font-family: "Flexo-Medium",arial,sans-serif;
}


div{
    /* border: 1px solid #000000; */
}

.elementDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imageDiv{
    /* border: 4px solid #cc5656; */
    border-bottom: 4px solid #cc5656;
    border-right: 4px solid #cc5656;
    width: 40%;
    display: flex;
  flex-direction: column;

}

.infoDiv{
    width: 60%;
}

.flexer{
    display: flex;
}

.imageDiv1{
    background-color: #cc5656;
    padding-bottom: 4px;
    
}


.imageDiv2{
    height: 100%;
    margin:auto;
    margin-top: 30%;
}

.center{
    margin:auto;
}

.leftButton{
    text-align: left;

}

.rightButton{
text-align: right;
}

.imageDiv button{
    height: 40px;
    widows: 50px;
}

.description{
    border-bottom: 4px solid #cc5656;
}
.stats{
    border-top: 4px solid #cc5656;
    
}

.stats div:nth-child(odd) {
    background-color:#eee;
}

.stats div:nth-child(even) {
    background-color: #cc5656;
}

.stats div span:nth-child(odd) {
    border-right: 2px solid #cc5656;
}

.stats div{
    border-bottom: 4px solid #cc5656;
    display: flex; 
    vertical-align: middle;
}

.stats span{
    width: 100%;
    padding: 2%;
    /* border-bottom: 1px solid #000000; */
    vertical-align: middle;
}
