<div class="detailBox" *ngIf="pokemonInfo$">
  <ng-container *ngIf="pokemonInfoSprites$">
    <img class="images" [src]='pokemonInfoSprites$.front_default' />
  </ng-container>
  <div>
    <ng-container *ngFor="let types of typesArray$.reverse()">
      <span class="element {{types.type.name}}">{{types.type.name | uppercase}}</span>
    </ng-container>
  </div>
  <div>
    HEIGHT : {{pokemonInfo$.height}}
  </div>
  <div>
    WEIGHT : {{pokemonInfo$.weight}}
  </div>
  <div>
    {{pokedexDesc}}
  </div>
  <div>
    <button (click)="goback()">RETURN</button>
  </div>
  <div>
    <button (click)="goto('../list/' + venusaurTest); fillUpDetails(venusaurTest);">VENUSAUR</button>
  </div>
</div>