

.componentBorder {
    border: 4px solid #ffffff;
}

.list-navigator {
    text-align: center;
}

.topPage{
    background-color: antiquewhite;
    position: fixed;
    width: 100%;
    margin-top: -12%;
    z-index: 1000;
    border-bottom: 4px solid #cc5656;
    /* display: flex; */
}

.margins{
    margin-top: 12%;
}

.headr{
    margin: 0;
    font-family: 'pokemonfont';
    vertical-align: middle;
    font-size: 2em;
    background: #cc5656;
    text-align: center;
    color: #FFC420;
    -webkit-text-stroke: 2px black;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

img{
    vertical-align: middle;
    
}