h1{
    text-align: center;
}
.mains{
    display: flex;
    flex-direction: row;
    -ms-flex-item-align: center;
}

.componentBorder{
    border: 4px solid #ffffff;
}

.list-navigator{
    margin-left: 15px;
}