h1 {
    text-align: left;
    background-color: antiquewhite;
}

.mains {
    display: flex;
    flex-direction: row;
    -ms-flex-item-align: center;
}

.componentBorder {
    border: 4px solid #ffffff;
}

.list-navigator {
    margin-left: 15px;
    text-align: right;
    margin-bottom: 20px;
}